<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Upload File</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#excel_file').change(function () {
                var form_data = new FormData();
                form_data.append('excel_file', $('#excel_file')[0].files[0]);
                var csrftoken = getCookie('csrftoken');
                $.ajaxSetup({
                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();
                        // Add progress event listener
                        xhr.upload.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = (evt.loaded / evt.total) * 100;
                                // Update the progress bar
                                $('.progress-bar').width(percentComplete + '%');
                                $('.progress-bar').text(percentComplete.toFixed(2) + '%');
                            }
                        }, false);
                        return xhr;
                    },
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                });
                $.ajax({
                    url: '{% url "excelapp:upload_file" %}',
                    type: 'POST',
                    data: form_data,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.error) {
                            $('#sheet_list').html('<p class="error">' + response.error + '</p>');
                        } else {
                            var sheet_list = response.sheet_list;
                            var sheet_list_html = '';
                            for (var i = 0; i < sheet_list.length; i++) {
                                sheet_list_html += '<p><strong><label><input type="checkbox" name="selected_sheets" value="' + sheet_list[i] + '">' + sheet_list[i] + '</label></strong></p>';
                            }
                            $('#sheet_list').html(sheet_list_html);
                        }
                    },
                    error: function () {
                        alert('An error occurred while uploading the file.');
                    }
                });
            });

            $('#generate_ppt_form').submit(function (event) {
                event.preventDefault();  // Prevent default form submission

                var selected_sheets = [];
                $('input[name="selected_sheets"]:checked').each(function () {
                    selected_sheets.push($(this).val());
                });

                if (selected_sheets.length === 0) {
                    alert('Please select at least one sheet.');
                    return;
                }

                var filename = $('#excel_file')[0].files[0].name;
                $('<input>').attr({
                    type: 'hidden',
                    name: 'filename',
                    value: filename
                }).appendTo('#generate_ppt_form');

                var sheet_list_html = JSON.stringify(selected_sheets);
                $('<input>').attr({
                    type: 'hidden',
                    name: 'sheet_list_html',
                    value: sheet_list_html
                }).appendTo('#generate_ppt_form');

                this.submit();
            });

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{% static 'images/Barclays-PLC.png' %}" alt="Logo" width="100" height="100">
        </div>
        <form id="generate_ppt_form" method="post" action="{% url 'excelapp:generate_ppt' %}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="form-group">
                <div class="blue-button">
                    <input class="upload-button" type="file" name="excel_file" id="excel_file" accept=".xlsx, .xls">
                </div>
                <div class="sheet-list-container">
                    <div id="sheet_list" class="sheet-list"></div>
                </div>
                <input class="blue-button" type="submit" value="Generate PowerPoint">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
